<app-navbar></app-navbar>
<div class="scroll-container">
  <section id="hero">
    <app-hero></app-hero>
  </section>
  <section id="solucion">
    <app-solucion></app-solucion>
  </section>
  <section id="features">
    <app-features></app-features>
  </section>
  <section id="beneficios">
    <app-beneficios></app-beneficios>
  </section>
  <section id="como-funciona">
    <app-como-funciona></app-como-funciona>
  </section>
  <section id="screenshots">
    <app-screenshots></app-screenshots>
  </section>
  <section id="contacto">
    <app-contacto></app-contacto>
    <app-footer></app-footer>
  </section>
</div>
